<div class="bg-body-tertiary >
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <h1 class="display-4 font-weight-bold"><b>Hi, I am Anil Pahari</b></h1>
        <p class="lead">
          Welcome to my food blog website! I'm thrilled to have this opportunity
          to share my journey as a backend developer and showcase the projects
          I've worked on.
        </p>
        <p class="lead">
          My name is Anil Pahari, and I'm very passionate about my work. If you
          have any recommendations for me, feel free to contact me, and we will
          get in touch soon.
        </p>
    </div>
        <div class="col-md-6 ">
          <div class="py-40">
            <img src="image/profile.jpg" class="rounded-circle small-circle " alt="My profile"/>
          </div>
        </div>
  
        <div class="col-12 mb-8">
            <a href="/contact"
              ><button type="submit" class="btn btn-primary">Contact Me</button></a
            >
          </div>
      </div>
  
</div>
<br><br>
<div class="container py-5 px-6">
  <h2 class="text-center mb-4">What I do</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="rounded-card p-4 text-center">
        <i class="fa-solid fa-compass-drafting fa-3x mb-3 text-primary"></i>
        <h4 class="font-weight-bold">Web Development</h4>
        <ul class="list-unstyled">
          <li>School/College Websites</li>
          <li>Personal Websites</li>
          <li>Consultancy Website</li>
          <li>Redesigning Websites</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rounded-card p-4 text-center">
        <i class="fa-solid fa-pen-nib fa-3x mb-3 text-primary"></i>
        <h4 class="font-weight-bold">Graphics Designing</h4>
        <ul class="list-unstyled">
          <li>Banner Design</li>
          <li>Logo Design</li>
          <li>Visiting Card Design</li>
          <li>Social Media Post Design</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rounded-card p-4 text-center">
        <i class="fa-solid fa-globe fa-3x mb-3 text-primary"></i>
        <h4 class="font-weight-bold">Network Support</h4>
        <ul class="list-unstyled">
          <li>Network Troubleshooting</li>
          <li>Configuring Mikrotik Router</li>
          <li>Designing Network</li>
          <li>Configuring Firewall</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
